[Unit]
Description=Corner Platform Asset Filesystem
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/corner.tools/assetfs
ExecStart=/opt/corner.tools/assetfs/run.sh
Restart=always
LimitNOFILE=64000

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

