[Unit]
Description=Corner Platform
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
Environment=NODE_VERSION=v19.1.0
ExecStart=/opt/corner.backend/run.sh
Restart=always
LimitNOFILE=64000

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

