[Unit]
Description=Corner Platform Management
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
Environment=NODE_VERSION=v13.9.0
ExecStart=/opt/corner.frontend/root.ui/run.sh
Restart=always
LimitNOFILE=64000

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

